<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vice.bloodpressure">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 分享开始 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 分享结束 -->
    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" /> <!-- android-9前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <application
        android:name=".base.XyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:icon, android:theme">


        <provider
            android:name=".fileprovider.AppFileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_file_paths" />
        </provider>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />


        <!-- 启动页 -->
        <!--        <activity-->
        <!--            android:name="com.iweixi.weixi.base.SplashActivity"-->
        <!--            android:screenOrientation="portrait">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <activity
            android:name=".baseui.WebViewHelperActivity"
            android:screenOrientation="portrait" />

        <!--登录模块开始-->
        <!--登录-->
        <!--        <activity-->
        <!--            android:name=".activity.login.LoginActivity"-->
        <!--            android:screenOrientation="portrait" />-->
        <!--        &lt;!&ndash;注册&ndash;&gt;-->
        <activity
            android:name=".activity.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--完善信息-->
        <activity
            android:name=".activity.login.PerfectUserInfoActivity"
            android:screenOrientation="portrait" />
        <!--登录答题开始页面-->
        <activity
            android:name=".activity.login.AnswerBeginActivity"
            android:screenOrientation="portrait" />
        <!--登录答题内容页面开始-->
        <activity
            android:name=".activity.login.AnswerBeginContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerFirstTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerfourthActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  劳动强度-->
        <activity
            android:name=".activity.login.AnswerExerciseStrengthActivity"
            android:screenOrientation="portrait" />
        <!--登录答题 身高体重-->
        <activity
            android:name=".activity.login.AnswerHeightWeightActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  肾病-->
        <activity
            android:name=".activity.login.AnswerNephromaActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  运动禁忌-->
        <activity
            android:name=".activity.login.AnswerMotionConditionsActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  疾病-->
        <activity
            android:name=".activity.login.AnswerIllnessActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  运动习惯-->
        <activity
            android:name=".activity.login.AnswerExerciseHabitActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  运动时间频率-->
        <activity
            android:name=".activity.login.AnswerExerciseTimeRateActivity"
            android:screenOrientation="portrait" />

        <!--登录答题内容页面结束-->


        <!-- 忘记密码-->
        <activity
            android:name=".activity.login.ForgetPwdActivity"
            android:screenOrientation="portrait" />

        <!--登录模块结束-->


        <!-- 首页模块开始 -->
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <!--扫一扫-->
        <activity
            android:name=".modules.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--消息-->

        <activity
            android:name=".activity.ahome.HomeMessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.HomeWarningListActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案开始-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeBeginActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案1-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeOneActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案2-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeTwoActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案3-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeThreeActivity"
            android:screenOrientation="portrait" />
        <!--自定义饮食方案-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeChooseActivity"
            android:screenOrientation="portrait" />
        <!--自定义早中晚餐-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeChooseMealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <!--更改饮食方案-->
        <activity
            android:name=".activity.ahome.adiet.DietChangeDietActivity"
            android:screenOrientation="portrait" />
        <!--一餐详情展示-->
        <activity
            android:name=".activity.ahome.adiet.DietMealDetailsActivity"
            android:screenOrientation="portrait" />
        <!--制作饮食  可有视频可无视频-->
        <activity
            android:name=".activity.ahome.adiet.DietMakeMealDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--饮食方案详细-->
        <activity
            android:name=".activity.ahome.adiet.DietMealPlanDetailsActivity"
            android:screenOrientation="portrait" />

        <!--运动模块-->
        <activity
            android:name=".activity.ahome.aexercise.ExerciseIntelligenceActivity"
            android:screenOrientation="portrait" />
        <!--运动模块答题开始-->
        <!--答题第一题-->
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanOneActivity"
            android:screenOrientation="portrait" />
        <!--答题第二题-->
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanAnswerAgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanHeightWeightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanIllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanExerciseActivity"
            android:screenOrientation="portrait" />

        <!--运动模块答题结束-->
        <!--运动记录-->
        <activity
            android:name=".activity.ahome.aexercise.ExerciseRecordListActivity"
            android:screenOrientation="portrait" />
        <!--添加运动记录-->
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanAddRecordActivity"
            android:screenOrientation="portrait" />
        <!--手动添加运动记录-->
        <activity
            android:name=".activity.ahome.aexercise.ExerciseRecordAddHandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />

        <!--服务模块-->
        <!--教育视频列表-->
        <activity
            android:name=".activity.aservice.serviceeducation.EducationVideoListActivity"
            android:screenOrientation="portrait" />
        <!-- 教育 问卷调查 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationQuestionInvestigateActivity"
            android:screenOrientation="portrait" />
        <!-- 教育 问卷调查 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationQuestionInvestigateBeginActivity"
            android:screenOrientation="portrait" />
        <!--弃用页面，等接口出来以后看是不是需要删除-->
        <activity
            android:name=".activity.ahome.aeducation.EducationIntelligenceActivity"
            android:screenOrientation="portrait" />
        <!-- 教育 智能学习 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationIntelligenceListActivity"
            android:screenOrientation="portrait" />
        <!-- 教育 分类 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationClassifyActivity"
            android:screenOrientation="portrait" />
        <!--智能学习 分类 搜索-->
        <activity
            android:name=".activity.ahome.aeducation.EducationIntelligenceSearchActivity"
            android:screenOrientation="portrait" />
        <!--教育目录-->
        <activity
            android:name=".activity.ahome.aeducation.EducationInteCatalogueListActivity"
            android:screenOrientation="portrait" />
        <!--教育详情-->
        <activity
            android:name=".activity.ahome.aeducation.EducationDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!-- 首页模块结束 -->


        <!--个人中心模块开始-->
        <activity
            android:name=".activity.auser.UserQRCodeActivity"
            android:screenOrientation="portrait" />
        <!--我的收藏-->
        <activity
            android:name=".activity.auser.UserCollectActivity"
            android:screenOrientation="portrait" />
        <!--我的档案-->
        <activity
            android:name=".activity.auser.UserFilesActivity"
            android:screenOrientation="portrait" />
        <!--我的订单-->
        <activity
            android:name=".activity.auser.UserOrderListActivity"
            android:screenOrientation="portrait" />
        <!--我的设备-->
        <activity
            android:name=".activity.auser.UserEquipmetActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".activity.auser.UserSetActivity"
            android:screenOrientation="portrait" />
        <!--消息通知-->
        <activity
            android:name=".activity.auser.UserMsgListActivity"
            android:screenOrientation="portrait" />
        <!--抽烟喝酒-->
        <activity
            android:name=".activity.auser.UserSmokeDrinkActivity"
            android:screenOrientation="portrait" />

        <!--个人中心模块结束-->
    </application>

</manifest>