<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vice.bloodpressure">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 分享开始 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 分享结束 -->
    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" /> <!-- android-9前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <application
        android:name=".base.XyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:icon, android:theme">


        <provider
            android:name=".fileprovider.AppFileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_file_paths" />
        </provider>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>-->
        </activity>

        <!-- 启动页 -->
        <activity
            android:name=".base.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 基础的webView页面-->
        <activity
            android:name=".baseui.WebViewHelperActivity"
            android:screenOrientation="portrait" />

        <!--登录-->
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--注册-->
        <activity
            android:name=".activity.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--完善信息-->
        <activity
            android:name=".activity.login.PerfectUserInfoActivity"
            android:screenOrientation="portrait" />
        <!--登录答题开始页面-->
        <activity
            android:name=".activity.login.AnswerBeginActivity"
            android:screenOrientation="portrait" />
        <!--登录答题内容页面开始-->
        <activity
            android:name=".activity.login.AnswerBeginContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerFirstTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.AnswerfourthActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  劳动强度-->
        <activity
            android:name=".activity.login.AnswerExerciseStrengthActivity"
            android:screenOrientation="portrait" />
        <!--登录答题 身高体重-->
        <activity
            android:name=".activity.login.AnswerHeightWeightActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  肾病-->
        <activity
            android:name=".activity.login.AnswerNephromaActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  运动禁忌-->
        <activity
            android:name=".activity.login.AnswerMotionConditionsActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  疾病-->
        <activity
            android:name=".activity.login.AnswerIllnessActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  运动习惯-->
        <activity
            android:name=".activity.login.AnswerExerciseHabitActivity"
            android:screenOrientation="portrait" />
        <!--登录答题  运动时间频率-->
        <activity
            android:name=".activity.login.AnswerExerciseTimeRateActivity"
            android:screenOrientation="portrait" />

        <!--登录答题内容页面结束-->


        <!-- 忘记密码-->
        <activity
            android:name=".activity.login.ForgetPwdActivity"
            android:screenOrientation="portrait" />

        <!--登录模块结束-->


        <!-- 首页模块开始 -->


        <!--扫一扫-->
        <activity
            android:name=".modules.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--消息-->

        <activity
            android:name=".activity.ahome.HomeMessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.HomeWarningListActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案开始-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeBeginActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案1-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeOneActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案2-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeTwoActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案3-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeThreeActivity"
            android:screenOrientation="portrait" />
        <!--自定义饮食方案-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeChooseActivity"
            android:screenOrientation="portrait" />
        <!--自定义早中晚餐-->
        <activity
            android:name=".activity.ahome.adiet.DietProgrammeChooseMealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <!--更改饮食方案-->
        <activity
            android:name=".activity.ahome.adiet.DietChangeDietActivity"
            android:screenOrientation="portrait" />
        <!--一餐详情展示-->
        <activity
            android:name=".activity.ahome.adiet.DietMealDetailsActivity"
            android:screenOrientation="portrait" />
        <!--制作饮食  可有视频可无视频-->
        <activity
            android:name=".activity.ahome.adiet.DietMakeMealDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--饮食方案列表-->
        <activity
            android:name=".activity.ahome.adiet.DietMealPlanListActivity"
            android:screenOrientation="portrait" />
        <!--饮食方案详细-->
        <activity
            android:name=".activity.ahome.adiet.DietMealPlanDetailsActivity"
            android:screenOrientation="portrait" />

        <!--运动模块-->
        <activity
            android:name=".activity.ahome.aexercise.ExerciseIntelligenceActivity"
            android:screenOrientation="portrait" />
        <!--运动模块答题开始-->
        <!--答题第一题-->
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanOneActivity"
            android:screenOrientation="portrait" />
        <!--答题第二题-->
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanAnswerAgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanHeightWeightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanIllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanExerciseActivity"
            android:screenOrientation="portrait" />

        <!--运动模块答题结束-->
        <!--运动记录-->
        <activity
            android:name=".activity.ahome.aexercise.ExerciseRecordListActivity"
            android:screenOrientation="portrait" />
        <!--添加运动记录-->
        <activity
            android:name=".activity.ahome.aexercise.ExercisePlanAddRecordActivity"
            android:screenOrientation="portrait" />
        <!--手动添加运动记录有氧-->
        <activity
            android:name=".activity.ahome.aexercise.ExerciseRecordAddHandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <!--手动添加运动记录柔韧-->
        <activity
            android:name=".activity.ahome.aexercise.ExerciseRecordAddHandFlexActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />

        <!-- 教育 问卷调查 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationQuestionInvestigateActivity"
            android:screenOrientation="portrait" />
        <!-- 教育 问卷调查 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationQuestionInvestigateBeginActivity"
            android:screenOrientation="portrait" />
        <!--弃用页面，等接口出来以后看是不是需要删除-->
        <activity
            android:name=".activity.ahome.aeducation.EducationIntelligenceActivity"
            android:screenOrientation="portrait" />
        <!-- 教育 智能学习 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationIntelligenceListActivity"
            android:screenOrientation="portrait" />
        <!-- 教育 分类 -->
        <activity
            android:name=".activity.ahome.aeducation.EducationClassifyActivity"
            android:screenOrientation="portrait" />
        <!--智能学习 分类 搜索-->
        <activity
            android:name=".activity.ahome.aeducation.EducationIntelligenceSearchActivity"
            android:screenOrientation="portrait" />
        <!--教育目录-->
        <activity
            android:name=".activity.ahome.aeducation.EducationInteCatalogueListActivity"
            android:screenOrientation="portrait" />
        <!--教育详情-->
        <activity
            android:name=".activity.ahome.aeducation.EducationDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!-- 首页模块结束 -->


        <!--服务模块开始-->
        <!--健康数据-->
        <activity
            android:name=".activity.aservice.ServiceHealthyDataActivity"
            android:screenOrientation="portrait" />
        <!--教育视频-->
        <activity
            android:name=".activity.aservice.ServiceEducationVideoActivity"
            android:screenOrientation="portrait" />
        <!--智能教育视频搜索-->
        <activity
            android:name=".activity.aservice.ServiceEducationVideoSearchActivity"
            android:screenOrientation="portrait" />
        <!--服务饮食视频-->
        <activity
            android:name=".activity.aservice.ServiceMealVideoActivity"
            android:screenOrientation="portrait" />
        <!--视频详情-->
        <activity
            android:name=".activity.aservice.ServiceMakeMealDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--饮食搜索-->
        <activity
            android:name=".activity.aservice.ServiceMealVideoSearchActivity"
            android:screenOrientation="portrait" />
        <!--血糖添加-->
        <activity
            android:name=".activity.aservice.ServiceBloodAddActivity"
            android:screenOrientation="portrait" />
        <!--血糖数据-->
        <activity
            android:name=".activity.aservice.ServiceBloodListActivity"
            android:screenOrientation="portrait" />
        <!--血压添加-->
        <activity
            android:name=".activity.aservice.ServicePressureAddActivity"
            android:screenOrientation="portrait" />
        <!--bmi添加-->
        <activity
            android:name=".activity.aservice.ServiceBmiAddActivity"
            android:screenOrientation="portrait" />
        <!--血氧添加-->
        <activity
            android:name=".activity.aservice.ServiceBloodOxygenAddActivity"
            android:screenOrientation="portrait" />
        <!--添加糖化血红蛋白-->
        <activity
            android:name=".activity.aservice.ServiceSaccharifyAddActivity"
            android:screenOrientation="portrait" />
        <!--体温添加-->
        <activity
            android:name=".activity.aservice.ServiceTemperatureAddActivity"
            android:screenOrientation="portrait" />
        <!--添加检验检查数据-->
        <activity
            android:name=".activity.aservice.ServiceCheckAddActivity"
            android:screenOrientation="portrait" />
        <!--运动添加-->
        <activity
            android:name=".activity.aservice.ServiceExerciseAddActivity"
            android:screenOrientation="portrait" />
        <!--血红蛋白列表-->
        <activity
            android:name=".activity.aservice.ServiceBloodScleroproteinListActivity"
            android:screenOrientation="portrait" />
        <!--血压列表-->
        <activity
            android:name=".activity.aservice.ServicePressureListActivity"
            android:screenOrientation="portrait" />
        <!--bmi列表-->
        <activity
            android:name=".activity.aservice.ServiceBmiListActivity"
            android:screenOrientation="portrait" />
        <!--检验检查列表-->
        <activity
            android:name=".activity.aservice.ServiceCheckListActivity"
            android:screenOrientation="portrait" />
        <!--运动列表-->
        <activity
            android:name=".activity.aservice.ServiceBloodExerciseListActivity"
            android:screenOrientation="portrait" />
        <!--血氧列表-->
        <activity
            android:name=".activity.aservice.ServiceBloodOxygenListActivity"
            android:screenOrientation="portrait" />
        <!--体温列表-->
        <activity
            android:name=".activity.aservice.ServiceTemperatureListActivity"
            android:screenOrientation="portrait" />
        <!--用药列表-->
        <activity
            android:name=".activity.aservice.ServiceMedicineListActivity"
            android:screenOrientation="portrait" />
        <!--添加用药-->
        <activity
            android:name=".activity.aservice.ServiceMedicineRecordAddActivity"
            android:screenOrientation="portrait" />
        <!--添加用药提醒-->
        <activity
            android:name=".activity.aservice.ServiceMedicineRemindAddActivity"
            android:screenOrientation="portrait" />
        <!--饮食数据列表-->
        <activity
            android:name=".activity.aservice.ServiceMealListActivity"
            android:screenOrientation="portrait" />
        <!--饮食数据添加-->
        <activity
            android:name=".activity.aservice.ServiceMealAddActivity"
            android:screenOrientation="portrait" />
        <!--饮食数据选择-->
        <activity
            android:name=".activity.aservice.ServiceMealChooseActivity"
            android:screenOrientation="portrait" />
        <!--血糖分析图-->
        <activity
            android:name=".activity.aservice.ServiceBloodTypeActivity"
            android:screenOrientation="portrait" />
        <!--健康评测-->
        <activity
            android:name=".activity.aservice.ServiceHealthyTestListActivity"
            android:screenOrientation="portrait" />
        <!--历史评测-->
        <activity
            android:name=".activity.aservice.ServiceHealthyHistoryListActivity"
            android:screenOrientation="portrait" />

        <!-- 查看大图页面-->
        <activity
            android:name=".baseui.PictureBrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.widget.HHSoftPictureSelectorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".utils.widget.HHSoftPictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name=".utils.widget.HHSoftPicturePreviewActivity"
            android:screenOrientation="portrait" />
        <!--服务模块结束-->


        <!--院外管理开始-->
        <!--医院列表-->
        <activity
            android:name=".activity.aout.OutHospitalListActivity"
            android:screenOrientation="portrait" />
        <!--科室列表-->
        <activity
            android:name=".activity.aout.OutOfficeActivity"
            android:screenOrientation="portrait" />
        <!--医院详情-->
        <activity
            android:name=".activity.aout.OutHospitalInfoActivity"
            android:screenOrientation="portrait" />
        <!--医生搜索-->
        <activity
            android:name=".activity.aout.OutDoctorSearchListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aout.OutDoctorEducationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aout.OutDoctorEducationInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--院外管理结束-->


        <!--个人中心模块开始-->
        <activity
            android:name=".activity.auser.UserQRCodeActivity"
            android:screenOrientation="portrait" />
        <!--我的收藏-->
        <activity
            android:name=".activity.auser.UserCollectActivity"
            android:screenOrientation="portrait" />
        <!--我的档案-->
        <activity
            android:name=".activity.auser.UserFilesActivity"
            android:screenOrientation="portrait" />
        <!--我的订单-->
        <activity
            android:name=".activity.auser.UserOrderListActivity"
            android:screenOrientation="portrait" />
        <!--我的设备-->
        <activity
            android:name=".activity.auser.UserEquipmetActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".activity.auser.UserSetActivity"
            android:screenOrientation="portrait" />
        <!--消息通知-->
        <!--抽烟喝酒-->
        <activity
            android:name=".activity.auser.UserSmokeDrinkActivity"
            android:screenOrientation="portrait" />
        <!--抽烟-->
        <activity
            android:name=".activity.auser.UserSmokeActivity"
            android:screenOrientation="portrait" />
        <!--饮酒-->
        <activity
            android:name=".activity.auser.UserDrinkActivity"
            android:screenOrientation="portrait" />
        <!--支付方式-->
        <activity
            android:name=".activity.auser.UserPayStyleActivity"
            android:screenOrientation="portrait" />
        <!--主要诊断-->
        <activity
            android:name=".activity.auser.UserIllImportantActivity"
            android:screenOrientation="portrait" />
        <!--合并症-->
        <activity
            android:name=".activity.auser.UserIllPlusActivity"
            android:screenOrientation="portrait" />
        <!--其他疾病-->
        <activity
            android:name=".activity.auser.UserIllOtherActivity"
            android:screenOrientation="portrait" />
        <!--家族史-->
        <activity
            android:name=".activity.auser.UserIllFamilyHistoryActivity"
            android:screenOrientation="portrait" />
        <!--我的医生-->
        <activity
            android:name=".activity.auser.UserDoctorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.auser.UserAboutAsActivity" />
        <!--账户与安全-->
        <activity
            android:name=".activity.auser.UserAccountSafeActivity"
            android:screenOrientation="portrait" />
        <!--修改登录密码-->
        <activity
            android:name=".activity.auser.UserEditPwdActivity"
            android:screenOrientation="portrait" />
        <!--手动添加-->
        <activity
            android:name=".activity.auser.UserAddEquipmentActivity"
            android:screenOrientation="portrait" />
        <!--个人中心模块结束-->
    </application>

</manifest>